/* #heading{
    color: red;
}
#child1{
    color: red;
}
#child2{
    color: pink;
}
#child3{
    color: blue;
} */

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    font-size: 24px;
    list-style: none;
}
.nav-items > ul > li{
    /* list-style: none; */
    padding: 10px;
}
.restaurant-container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.restaurant-card{
    border: 1px solid black;
    width: 200px;
    /* height: 350px; */
    margin: 10px;
    padding: 10px;
}
.restaurant-card:hover{
    box-shadow: 0px 0px 10px 0px gray;
    cursor: pointer;
}
.restaurant-logo{
    width: 150px;
    height: 150px;
}
.search{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.filter{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.filter-btn{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    /* justify-content: center; */
}
.shimmer-card{
    border: 1px solid black;
    width: 200px;
    background-color: #DBE2E9;
    height: 350px;
    margin: 10px;
    padding: 10px;
}
.search-btn{
    margin-right: 10px;
}